<div id="asideDiv" class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="asideTitle">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind="asideTitle"></h4>
      </div>
      <div class="aside-body">
        <div class="btn-group input-group btn-group-justified">
          <a class="btn btn-bb btn-tora" data-placement="bottom-left" data-template="app/main/popover.demo.tpl.html"
            data-animation="am-flip-x" data-container="div.aside-dialog" bs-popover
            ng-click="filterBibleBooks(bibleBooks[0])" data-auto-close="true">Ge</a>
          <a class="btn btn-bb btn-tora" data-placement="bottom-left" data-template="app/main/popover.demo.tpl.html"
            data-animation="am-flip-x" data-container="div.aside-dialog" bs-popover
            ng-click="filterBibleBooks(bibleBooks[1])" data-auto-close="true">Ex</a>
          <a class="btn btn-bb btn-tora" data-placement="bottom" data-template="app/main/popover.demo.tpl.html"
            data-animation="am-flip-x"  data-container="div.aside-dialog"  bs-popover ng-click="filterBibleBooks(bibleBooks[2])"
            data-auto-close="true">Le</a>
          <a class="btn btn-bb btn-tora" data-placement="bottom" data-template="app/main/popover.demo.tpl.html"
            data-animation="am-flip-x"  data-container="div.aside-dialog"  bs-popover ng-click="filterBibleBooks(bibleBooks[3])"
            data-auto-close="true">Nu</a>
          <a class="btn btn-bb btn-tora" data-placement="bottom-right" data-template="app/main/popover.demo.tpl.html"
            data-animation="am-flip-x"  data-container="div.aside-dialog"  bs-popover ng-click="filterBibleBooks(bibleBooks[4])"
            data-auto-close="true">De</a>
          <a class="btn btn-bb btn-ihist" data-placement="bottom-right" data-template="app/main/popover.demo.tpl.html"
            data-animation="am-flip-x"  data-container="div.aside-dialog"  bs-popover ng-click="filterBibleBooks(bibleBooks[5])"
            data-auto-close="true">Jos</a>
        </div>
        <div class="btn-group input-group btn-group-justified">
          <a class="btn btn-bb btn-ihist">Jdg</a>
          <a class="btn btn-bb btn-ihist">Ru</a>
          <a class="btn btn-bb btn-ihist">1Sa</a>
          <a class="btn btn-bb btn-ihist">2Sa</a>
          <a class="btn btn-bb btn-ihist">1Ki</a>
          <a class="btn btn-bb btn-ihist">2Ki</a>
        </div>

      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">CLOSE</button>
      </div>
    </div>
  </div>
</div>