<div id="asideDiv" class="aside" tabindex="-1" role="dialog" style="width: 100%;">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="asideTitle">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">Menu</h4>
      </div>
      <div class="aside-body">
        <ul class="nav nav-stacked">
          <li>
            <a href="#" ng-click="$parent.$parent.showRightSidebar = !$parent.$parent.showRightSidebar; $hide()">
              <i class="fa fa-pencil"></i>
              &#xA0;Notes&#xA0;
              <span class="badge">4</span>
            </a>
          </li>
          <li role="presentation">
            <a href="/logout">
              <i class="fa fa-power-off"></i>
              &#xA0;Logout
            </a>
          </li>
        </ul>

        <hr />

        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Note Title 1</h4>
            <p class="list-group-item-text">Note text 1</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Note Title 2</h4>
            <p class="list-group-item-text">Note text 2</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Note Title 3</h4>
            <p class="list-group-item-text">Note text 3</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Note Title 4</h4>
            <p class="list-group-item-text">Note text 4</p>
          </a>
        </div>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">CLOSE</button>
      </div>
    </div>
  </div>
</div>