<div id="asideDiv" class="aside" tabindex="-1" role="dialog" style="width: 100%;">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="asideTitle">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">Menu</h4>
      </div>
      <div class="aside-body">
        <ul class="nav nav-stacked">
          <li>
            <a href="#" ng-click="$parent.$parent.showRightSidebar = !$parent.$parent.showRightSidebar; $hide()">
              <i class="fa fa-pencil"></i>
              &#xA0;Notes&#xA0;
              <span class="badge">4</span>
            </a>
          </li>
          <li role="presentation">
            <a href="/logout">
              <i class="fa fa-power-off"></i>
              &#xA0;Logout
            </a>
          </li>
        </ul>

        <hr />

        <div nwtn-notes></div>

        <div class="aside-footer">
          <button type="button" class="btn btn-default" ng-click="$hide()">CLOSE</button>
        </div>
      </div>
    </div>
  </div>