<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbar-items" class="collapse navbar-collapse" collapse="isCollapsed">
    <ul class="nav navbar-nav">
      <li>
        <a href="#">
          <i class="fa fa-bars fw"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-book"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-pencil"></i>
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">
          <i class="fa fa-bars fw"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-book"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-pencil"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="col-sm-12 col-md-3 left-sidebar main-content">
    <div class="btn-group input-group btn-group-justified">
      <a class="btn btn-bb btn-tora">Ge</a>
      <a class="btn btn-bb btn-tora">Ex</a>
      <a class="btn btn-bb btn-tora">Le</a>
      <a class="btn btn-bb btn-tora">Nu</a>
      <a class="btn btn-bb btn-tora">De</a>
      <a class="btn btn-bb btn-ihist">Jos</a>
    </div>
    <div class="btn-group input-group btn-group-justified">
      <a class="btn btn-bb btn-ihist">Jdg</a>
      <a class="btn btn-bb btn-ihist">Ru</a>
      <a class="btn btn-bb btn-ihist">1Sa</a>
      <a class="btn btn-bb btn-ihist">2Sa</a>
      <a class="btn btn-bb btn-ihist">1Ki</a>
      <a class="btn btn-bb btn-ihist">2Ki</a>
    </div>
    <div class="btn-group input-group btn-group-justified">
      <a class="btn btn-bb btn-ihist">1Ch</a>
      <a class="btn btn-bb btn-ihist">2Ch</a>
      <a class="btn btn-bb btn-ihist">Ezr</a>
      <a class="btn btn-bb btn-ihist">Ne</a>
      <a class="btn btn-bb btn-ihist">Ne</a>
      <a class="btn btn-bb btn-ihist">Es</a>
    </div>
    <div class="btn-group input-group btn-group-justified">
      <a class="btn btn-bb btn-psalms">Job</a>
      <a class="btn btn-bb btn-psalms">Ps</a>
      <a class="btn btn-bb btn-psalms">Pr</a>
      <a class="btn btn-bb btn-psalms">Ec</a>
      <a class="btn btn-bb btn-psalms">Song</a>
      <a class="btn btn-bb btn-prophets">Isa</a>
    </div>
    <div class="btn-group input-group btn-group-justified">
      <a class="btn btn-bb btn-prophets">Je</a>
      <a class="btn btn-bb btn-prophets">La</a>
      <a class="btn btn-bb btn-prophets">Eze</a>
      <a class="btn btn-bb btn-small-prophets">Ho</a>
      <a class="btn btn-bb btn-small-prophets">Joe</a>
      <a class="btn btn-bb btn-small-prophets">Am</a>
    </div>
    <div class="btn-group input-group btn-group-justified">
      <a class="btn btn-bb btn-small-prophets">Ob</a>
      <a class="btn btn-bb btn-small-prophets">Jon</a>
      <a class="btn btn-bb btn-small-prophets">Mi</a>
      <a class="btn btn-bb btn-small-prophets">Na</a>
      <a class="btn btn-bb btn-small-prophets">Hab</a>
      <a class="btn btn-bb btn-small-prophets">Zep</a>
    </div>
    <div class="btn-group input-group btn-group-justified">
      <a class="btn btn-bb btn-small-prophets">Hag</a>
      <a class="btn btn-bb btn-small-prophets">Zec</a>
      <a class="btn btn-bb btn-small-prophets">Mal</a>
      <a class="btn btn-bb btn-gospels">Mt</a>
      <a class="btn btn-bb btn-gospels">Mk</a>
      <a class="btn btn-bb btn-gospels">Lk</a>
    </div>
    <div class="btn-group input-group btn-group-justified">
      <a class="btn btn-bb btn-gospels">Jn</a>
      <a class="btn btn-bb btn-acts">Ac</a>
      <a class="btn btn-bb btn-letters">Ro</a>
      <a class="btn btn-bb btn-letters">1Co</a>
      <a class="btn btn-bb btn-letters">2Co</a>
      <a class="btn btn-bb btn-letters">Ga</a>
    </div>
    <div class="btn-group input-group btn-group-justified">
      <a class="btn btn-bb btn-letters">Ep</a>
      <a class="btn btn-bb btn-letters">Phl</a>
      <a class="btn btn-bb btn-letters">Col</a>
      <a class="btn btn-bb btn-letters">1Th</a>
      <a class="btn btn-bb btn-letters">2Th</a>
      <a class="btn btn-bb btn-letters">1Ti</a>
    </div>
    <div class="btn-group input-group btn-group-justified">
      <a class="btn btn-bb btn-letters">2Ti</a>
      <a class="btn btn-bb btn-letters">Tit</a>
      <a class="btn btn-bb btn-letters">Phlm</a>
      <a class="btn btn-bb btn-finalbooks">Heb</a>
      <a class="btn btn-bb btn-finalbooks">Jas</a>
      <a class="btn btn-bb btn-finalbooks">1Pe</a>
    </div>
    <div class="btn-group input-group btn-group-justified">
      <a class="btn btn-bb btn-finalbooks">2Pe</a>
      <a class="btn btn-bb btn-finalbooks">1Jn</a>
      <a class="btn btn-bb btn-finalbooks">2Jn</a>
      <a class="btn btn-bb btn-finalbooks">3Jn</a>
      <a class="btn btn-bb btn-finalbooks">Jude</a>
      <a class="btn btn-bb btn-revelation">Rev</a>
    </div>
  </div>

  <div class="main-content" ng-class="animate ? 'col-md-6' : 'col-md-9'">
    <button class="btn btn-primary" ng-click="someValue = !someValue">click me</button>
    <p>here goes some texthere goes some texthere goes some texthere goes some texthere goes some texthere goes some
      texthere goes some texthere goes some texthere goes some text</p>
    <button class="btn btn-danger" ng-click="animate = !animate">switch</button>
  </div>
  <div class="main-content right-sidebar col-md-3 animated-class" ng-if="animate">
    <p>here goes some text</p>

    <button class="btn btn-danger" ng-click="animate = !animate">switch</button>
    <p class="animated" ng-class="{fadeIn: animate, fadeOut: !animate}">My first animated text</p>
    <p class="animated-class" ng-if="animate">My animated text</p>
  </div>
</div>