body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.4em;
}

.thing-form {
	margin: 20px 0;
}

#banner {
	border-bottom: none;
	margin-top: -20px;
}

#banner h1 {
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px;
}

.hero-unit {
	position: relative;
	padding: 30px 15px;
	color: #F5F5F5;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	background: #4393B9;
	border-color: #a33f3e;
	background-color: #b94846;
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
}

.ch-button {
	width: 3em;
	margin: 1px;
}

.main-content {
	padding-top: 51px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

div.ng-scope {
	/* 	height: 100%; */
	
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.left-sidebar {
	/* 	height: 100%; */
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	position: fixed;
}

.popover-content {
	padding: 2px;
	height: inherit;
}

/* @media ( max-width : 991px) {
	.main-content {
		padding-top: 0px;
	}
	.left-sidebar {
		position: inherit;
		padding-top: 51px;
	}
} */
@media ( min-width : 767px) {
	.main-content {
		padding-top: 51px;
	}
	.left-sidebar {
		position: inherit;
		padding-top: 51px;
	}
}

.right-sidebar {
	min-height: 100%;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border-width: 1px;
	border-left-style: solid;
	border-bottom-style: solid;
}

/* NAVBAR */
.navbar-pad {
	padding: 0 20px;
}
/* NAVBAR END */
.boxme.ng-hide-add {
	-webkit-animation: fadeOut .4s;
	animation: fadeOut .4s;
}

.boxme.ng-hide-add-active {
	opacity: 1;
}

.boxme.ng-hide-remove {
	-webkit-animation: fadeIn .4s;
	animation: fadeIn .4s;
}

.boxme.ng-hide-remove-active {
	opacity: 0;
}

.btn-bb {
	padding: 6px 2px;
}

.btn-tora {
	background-color: #2f6bad;
	border-color: #f8f8f8;
	color: #fff;
}

.btn-ihist {
	background-color: #1c7f04;
	border-color: #f8f8f8;
	color: #fff;
}

.btn-psalms {
	background-color: #288b9e;
	border-color: #f8f8f8;
	color: #fff;
}

.btn-prophets {
	background-color: #37bcad;
	border-color: #f8f8f8;
	color: #fff;
}

.btn-small-prophets {
	background-color: #2ee065;
	border-color: #f8f8f8;
	color: #fff;
}

.btn-gospels {
	background-color: #963082;
	border-color: #f8f8f8;
	color: #fff;
}

.btn-acts {
	background-color: #a08e52;
	border-color: #f8f8f8;
	color: #fff;
}

.btn-letters {
	background-color: #d14ebd;
	border-color: #f8f8f8;
	color: #fff;
}

.btn-finalbooks {
	background-color: #c0bd30;
	border-color: #f8f8f8;
	color: #fff;
}

.btn-revelation {
	background-color: #e80000;
	border-color: #f8f8f8;
	color: #fff;
}

.bBook-button {
	font-size: 85%;
	width: 49%;
	margin: 1px;
}

.header {
	margin: 0.6em 0.4em;
	text-align: left;
}

@media ( max-width : 991px) {
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-header {
		float: none;
	}
}