.thing-form {
	margin: 20px 0;
}

#banner {
	border-bottom: none;
	margin-top: -20px;
}

#banner h1 {
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px;
}

.hero-unit {
	position: relative;
	padding: 30px 15px;
	color: #F5F5F5;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	background: #4393B9;
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
}

.ch-button {
	font-size: 85%;
	width: 3em;
	margin: 1px;
}

.main-content {
	margin-top: 51px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

div.ng-scope {
	height: 100%;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.left-sidebar {
	height: 100%;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border-width: 1px;
	border-right-style: solid;
}

.btn {
	padding: 6px 2px;
}

.btn-tora {
	background-color: #2f6bad;
    border-color: #f8f8f8;
    color: #fff;
}

.btn-ihist {
	background-color: #1c7f04;
    border-color: #f8f8f8;
    color: #fff;
}

.btn-psalms {
	background-color: #288b9e;
    border-color: #f8f8f8;
    color: #fff;
}

.btn-prophets {
	background-color: #37bcad;
    border-color: #f8f8f8;
    color: #fff;
}

.btn-small-prophets {
	background-color: #2ee065;
    border-color: #f8f8f8;
    color: #fff;
}

.bBook-button {
	font-size: 85%;
	width: 49%;
	margin: 1px;
}

.header {
	margin: 0.6em 0.4em;
	text-align: left;
}

.fade.ng-enter {
	-webkit-animation: fadeIn 400ms;
	-moz-animation: fadeIn 400ms;
	-o-animation: fadeIn 400ms;
	animation: fadeIn 400ms;
}

.fade.ng-leave {
	-webkit-animation: fadeOut 400ms;
	-moz-animation: fadeOut 400ms;
	-o-animation: fadeOut 400ms;
	animation: fadeOut 400ms;
}

.animate-books.ng-move, .animate-books.ng-leave {
	-webkit-animation: fadeOut 400ms;
	-moz-animation: fadeOut 400ms;
	-o-animation: fadeOut 400ms;
	animation: fadeOut 400ms;
}

.animate-books.ng-move, .animate-books.ng-enter {
	-webkit-animation: fadeIn 400ms;
	-moz-animation: fadeIn 400ms;
	-o-animation: fadeIn 400ms;
	animation: fadeIn 400ms;
}

.animate-books.ng-leave.ng-leave-active, .animate-books.ng-move,
	.animate-books.ng-enter {
	visibility: hidden;
}

.animate-books.ng-leave, .animate-books.ng-move.ng-move-active,
	.animate-books.ng-enter.ng-enter-active {
	visibility: visible;
}

/* chapters */
.animate-chapters.ng-move, .animate-chapters.ng-leave {
	-webkit-animation: fadeOutDown 400ms;
	-moz-animation: fadeOutDown 400ms;
	-o-animation: fadeOutDown 400ms;
	animation: fadeOutDown 400ms;
}

.animate-chapters.ng-move, .animate-chapters.ng-enter {
	-webkit-animation: fadeInUp 400ms;
	-moz-animation: fadeInUp 400ms;
	-o-animation: fadeInUp 400ms;
	animation: fadeInUp 400ms;
}

.animate-chapters.ng-leave.ng-leave-active, .animate-chapters.ng-move,
	.animate-books.ng-enter {
	visibility: hidden;
}

.animate-chapters.ng-leave, .animate-chapters.ng-move.ng-move-active,
	.animate-chapters.ng-enter.ng-enter-active {
	visibility: visible;
}

/* slide */
slide.animate-enter, slide.animate-leave {
	-webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

slide.animate-enter {
	left: 100%;
}

slide.animate-enter.animate-enter-active {
	left: 0;
}

slide.animate-leave {
	left: 0;
}

slide.animate-leave.animate-leave-active {
	left: -100%;
}