<div id="layout" class="pure-g">
  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
      <div>
        <div id="bibleBooks">
          <button class="pure-button bBook-button slide" ng-repeat="bBook in bibleBooks | filter: {_id: tokenField}"
            ng-click="filterBibleBooks(bBook)">{{bBook.name}}</button>
        </div>
        <hr />
        <div id="chapters">
          <button class="pure-button ch-button animate-chapters" ng-repeat="ch in chapters" ng-click="showChapter(ch)">{{ch}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="content pure-u-1 pure-u-md-3-4">
    <input type="text" class="form-control tokenfield" ng-model="tokenField" />
    <div>
      <!-- A wrapper for all the blog posts -->
      <div class="posts">
        <h1 class="content-subhead">result for: {{searchCriteria}}</h1>

        <!-- A single blog post -->
        <section class="post">
          <div class="post-description" ng-bind-html="content.body"></div>
        </section>
      </div>

      <div class="footer">
        <div class="pure-menu pure-menu-horizontal">
          <a href="http://github.com/yahoo/pure/" class="pure-menu-link">from JW.org</a>
        </div>
      </div>
    </div>
  </div>
</div>