<div class="btn-group input-group btn-group-justified" ng-repeat="bb in bibleBooks" ng-if="$index % noOfBooksInRow == 0">
  <a ng-repeat="a in bookInRowIndex"
    class="btn btn-bb btn-{{getBibleBookGroupName(bibleBooks[$parent.$parent.$index + $index])}}"
    data-placement="bottom{{getPopoverHorizontalPosition($index)}}" data-template="app/directives/bible_book_menu/ch_popover.tpl.html"
    data-animation="am-fade" data-container="{{container}}" bs-popover
    ng-click="filterBibleBooks(bibleBooks[$parent.$parent.$index + $index])" data-auto-close="true">{{bibleBooks[$parent.$parent.$index
    + $index].short_name}}</a>
</div>